.infos p {
  margin: 0 0 10px;
}

.profile-infos {
  color: var(--fs-brown);
  margin-bottom: -5px;
}
.profile-infos.profile-main {
  font-size: 1.1em;
}
.profile-infos.profile-side {
  font-size: 0.9em;
}
.profile-infos dt {
  font-weight: bolder;
  margin-top: 5px;
}
.profile-infos dt::after {
  content: ':';
}
.profile-infos dd {
  padding-bottom: 5px;
}

.verify,
.unverify {
  color: #ffffff;
  font-weight: bold;
}
.verify {
  background-color: var(--fs-green);
}
.unverify {
  background-color: red;
}

.profile.statdisplay {
  margin: -20px auto 10px auto;
}

@media screen and (min-width: 500px) {
  .profile.statdisplay {
    position: relative;
    top: -50px;
    float: right;
    display: block;
    width: 100%;
    margin: 0 0 -60px 0;
  }
}

.profile.statdisplay .item {
  float: right;
  display: block;
  padding: 0 5px 0 5px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: var(--fs-green);
  text-align: center;
  width: 62px;
}

.profile.statdisplay .item span {
  color: #fafafc;
  letter-spacing: normal;
}

div.statdisplay .item .val {
  font-size: 17px;
  font-weight: bold;
  display: block;
  margin: 14px 0 1px;
}

div.statdisplay .item .name {
  font-size: 11px;
  display: block;
  margin: 0 0 14px 0;
}

div.statdisplay a.item:hover {
  text-decoration: none;
  opacity: 0.8;
}

.stat_bananacount {
  background: url("/img/banana.png") no-repeat center 22px;
}

.stat_bananacount.bouched {
  background-image: url("/img/bananan.png");
}

#bananas {
  max-width: 650px;
  margin: 10px;
}

#bananas a > img {
  width: 50px;
  height: 50px;
  border-radius: 6px;
}

.page .linklist {
  margin-top: 10px;
  margin-bottom: 0;
}

.datelist a {
  font-weight: bolder;
}

/* Make sure the usually-hidden store titles are displayed in past pickup list */
div.pickup > div.pickup-title > div.store-title {
  display: block;
}

.cancel-all-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.disabled {
  pointer-events: none;
  background-color: #858789;
}

#disabledreports-link {
  opacity: 0.6;
}
#disabledreports a {
  font-weight: bolder;
  color: var(--fs-green);
}
